@font-face { 
  font-family: Gilroy; 
  src: url('gilroyextrabold.woff2') format('woff2'), 
       url('gilroyextrabold.woff') format('woff'); 
  font-weight: 800; 
  font-style: normal; 
}

@font-face { 
  font-family: Gilroy; 
  src: url('gilroylight.woff2') format('woff2'), 
       url('gilroylight.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Open Sans'; 
  src: url('opensanslight.woff2') format('woff2'), 
       url('opensanslight.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal;
}

@font-face { 
  font-family: 'Open Sans'; 
  src: url('opensans.woff2') format('woff2'), 
       url('opensans.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;
 }

body {
	margin: 0;
	padding: 0;
  	font: 300 15px/2 'Open Sans', Arial, sans-serif;
  	color: #000000;
  	background-color: #ffffff;
  	width: 1440px;
 }

a {
	text-decoration: none;
 }

.menu-navigation>a {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.header-logo:hover path {
	fill: #666666;
}

.header-logo:active path {
	fill: #b2b2b2;
}

.header {
	margin: 40px auto;
	width: 1160px;
	padding-bottom: 54px;


}
.button {
	width: 55px;
	height: 55px;
	border: none;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
  }


.button:hover path {
	fill: #f0c52e;
  }

.button:active path {
	fill: #faedc0;
}

.user-navigation,
.site-navigation,
.catalog-items-navigation,
.catalog-items-navigation ul {
	list-style: none;
}	

.main-navigation {
	background-color: #f7e296;
	color: #000000;
}

.user-navigation input[type="search"]:focus,
.user-navigation a,
.site-navigation a {
	color: #000000;
}



.user-navigation input[type="search"]:hover,
.user-navigation a:hover path,
.user-navigation a:hover,
.site-navigation a:hover {
	color: #635a3c;
	fill:  #635a3c;
}

.user-navigation input[type="search"],
.user-navigation a:active path,
.user-navigation a:active,
.site-navigation a:active {
	color: #ac9e69;
	fill: #ac9e69;
}

.user-navigation input {
	background-color: inherit;
	border: none;
}

.user-navigation input[type="submit"] {
	visibility: hidden;
}

.user-navigation input[type="search"]:focus+input[type="submit"] {
	visibility: visible;
	border: 1px solid #000000;
}

.user-navigation input[type="submit"]:hover {
	color: #ffffff;
	background-color: #000000;
}
.user-navigation input[type="submit"]:active {
	color: #4d4d4d;
}

.user-navigation,
.site-navigation {
	display: flex;
	flex-direction: row;
}

.user-navigation li,
.site-navigation li {
	margin-right: 20px;

}

.catalog-items-navigation {
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 640px;

}

.catalog-items-navigation {
display: none;
}

input[type="radio"] {
    display: none;
}

.slide-item h2 {
	font: 47px/1.19 'Gilroy', Qanelas, sans-serif;
}

.slide-item p {
	font: 300 15px/2 'Open Sans', Arial, sans-serif;
}

.slide-item tr:first-child td {
	font: 36px/1.33 'Gilroy', Qanelas, sans-serif;
}

.slide-item td {
	font: 300 13px/1.53 'Open Sans', Arial, sans-serif;
}

.preivew-items ul,
.popular-items ul,
.additional-information ul,
.company ul,
.about-us ul,
.footer-top ul,
.footer-middle ul,
.footer-bottom ul 

.list-number {
	font:;

	}{
	list-style: none;

}

.popular-items ul {
	display: flex;
	flex-direction: row;
}

.popular-items li {
	min-width: 160px;
	min-height: 160px;
	background-color: #f7e296;
	margin-right: 40px;
}
.popular-items li {
	position: relative;
}

.popular-items svg {
	display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.popular-items span {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	color: #000000;
	display: block;
	position: absolute;
	bottom: -76px;
}

.popular-items li:hover {
	background-color: #f0c52e;
}

.popular-items li:active path,
.popular-items li:active span {
	fill: #b89a30;
	color: #b2b2b2;
}

.btn {
	font: 800 18px/2.22 'Gilroy', Qanelas, sans-serif;
	color: #000000;
	display: block;
	width: 220px;
	height: 40px;
	border: none;
	letter-spacing: 3.6px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%, #ffffff 100%);
}

.btn:hover {
	background: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);

}

.btn:active {
	color: #a88a20;

}

.about-us .btn,
.contacts .btn {
	width: 260px;
}

.additional-information {
	margin-top: 80px;

}

.additional-information h3,
.about-us h2,
.contacts h2 {
	font: 800 47px/1.02 'Gilroy', Qanelas, sans-serif;

}

.additional-information .btn {
	width: 160px;
}

.additional-information .btn:active {
	background: linear-gradient(to bottom, #000000 0%, #000000 100%);
	color: #f7e184;
	width: 278px;

}
.company ul {
	display: flex;
	flex-direction: row;
}

.company a {

	position: relative;
	height: 100px;
	width: 260px;
	display: block;
}

.company img {
	position: absolute;
	left: 0;
	top: 0;
}

.logo-color-company {
	opacity:0;
	
}

.company-link:hover .logo-company {
	opacity: 0;
	
}

.company-link:hover .logo-color-company {

	opacity: 1;
}

.about-us li {
	font: 800 16px/2.5 'Gilroy', Qanelas, sans-serif;
}

.visually-hidden label {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
}

.visually-hidden input,
.visually-hidden textarea {
	font: 14px/1.33 'Open Sans', Arial, sans-serif;
}

.footer {
	background-color: #464646;
}

.footer-logo:hover path {
	fill: #b5931c;
}

.footer-logo:active path {
	fill: #7e6d31;
}

.footer-top a {
	color: #c8c8c8;
}

.footer-top use {
	fill: #ffc600;
}

.icon:hover use {
	fill: #b3921d;
}

.icon:active use {
	fill: #726435;
}

.footer-top a:hover {
	color: #ffffff;
}

.footer-top a:active {
	color: #7e7e7e;
}

.footer-middle p {
	color: #ffffff;

}

.footer-middle a:not(.telefon) {
	color: #ffffff;
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.footer-middle .telefon {
	color: #ffffff;

}

.footer-middle .item-menu:hover {
	color: #a6a6a6;
}

.footer-middle .item-menu:active {
	color: #777777;

}

.icon-social:hover path {
	fill: #7e7e7e;
}

.icon-social:active path {
	fill: #595959;
}

.logo-html:hover path {
	fill: #b5931c;
}

.logo-html:active path {
	fill: #7e6d31;
}

/*стили для catalog*/

.user-navigation .user-exit,
.user-navigation .user-exit:hover,
.user-navigation .user-exit:active {
	color: #ac9e69;
}

.catalog-item {
	width: 1160px;
	margin: 0 auto;

}

.catalog-item h1 {
	font: 800 47px/1.02 'Gilroy', Qanelas, sans-serif;
	padding-left: 60px;
	margin-top: 45px;

}

.catalog-item ul,
.sort-item {
	list-style: none;

}

.list-filter {
	margin-left: 60px;
	padding-left: 0;

}

.alignment {
	margin-left: 185px;

}

.catalog-item ul {
	display: flex;
	justify-content: space-between;
	width: 383px;

}

.catalog-item a {
	color: #b2b2b2;

}

.wrapper {
	display: flex;
	flex-direction: row;
}

.filter {
	min-width: 468px;
	background-color: #eeeeee;
	
}

.sort {
	min-width: 972px;

}

.filter h2,
.sort h2 {
	font: 800 16px/4.37 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 3.6px;
	text-transform: uppercase;	
	
}

.filter h2,
.sort h2,
.sort-item {
	margin-top: 0;
	margin-bottom: 0;
}

.sort-item {
	margin-bottom: 0;

}

.filter h2 {
	background-color: #dbdbdb;
	
} 
.filter h2,
.sort {
	min-height: 70px;

}

.sort {
	display: flex;
	flex-direction: row;
	background-color: #ebebeb;
	padding-left: 72px;

}

.sort-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;



}

.sort-1 {
	min-width: 300px;
	margin-right: 225px;

}
.sort-item a {
	display: block;
	font: 14px/5 'Open Sans', Arial, sans-serif;
	color: #b2b2b2;

} 

.sort-item a:hover {
	color: #666666;
}

.sort-item a:active {
	color: #000000;

}


.sort-2 {
	width: 80px;
	box-sizing: border-box;
	padding-left: 18px;
	padding-right: 18px;
}

.hide-text {
	font: 0/0 a;
     text-shadow: none;
    color: transparent;
}

.sort-icon path {
	fill: #d3d2d2;

}
.sort-icon:hover path {
	fill: #a7a5a6;

}

.sort-icon:active path {
	fill: #000000;

}

.sort-icon.active path {
	fill: #000000;

}

.filter fieldset {
	border: none;
	

}

.filter legend {
	border: none;
	border-top: 2px solid black;
	width: 201px;
	padding-top: 16px;
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.18px;

}

.price {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;

}

.range {
	position: relative;
	-webkit-appearance: none;
	width: 201px;
	height: 2px;
	background: linear-gradient(to left, #dbdbdb 0px, #dbdbdb 80px, #91c92f 80px, #91c92f 201px);

}

.range::-webkit-slider-thumb {
	position: absolute;
	-webkit-appearance: none;
	width: 20px;
	height: 23px;
	background: url('../img/svg-device/filter-button.svg') no-repeat;
	top: -9px;
	left: -10px;
	cursor: pointer;
	z-index: 2;
}

.range2 {
	top: -23px;

}
.range2::-webkit-slider-thumb {
	top: -9px;
	left: 113px ;

}

.range::-webkit-slider-thumb:hover,
.range2::-webkit-slider-thumb:hover {
	width: 22px;
	height: 25px;
	background: url('../img/svg-device/filter-button.svg') no-repeat;	

}

fieldset.color,
fieldset.bluetooth {
	display: flex;
	flex-direction: column;
}

.color input[type="checkbox"] {
	display: none;
}

.color label,
.bluetooth label {
	font: 300 14px/2.85 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.14px;
	line-height: 40px;
	vertical-align: middle;
}

.color label::before, 
.bluetooth label::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 23px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E") no-repeat;
	vertical-align: middle;
	margin-right: 13px;
}

input[type="checkbox"]:checked + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E") no-repeat;
}


input[type="checkbox"]:checked + label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z' fill='%23606060'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

input[type="checkbox"]:checked + label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E") no-repeat;
}

.color label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z' fill='%23606060'/%3E%3C/svg%3E") no-repeat;

}

.color label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E") no-repeat;
}

input[type="checkbox"]:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z' fill='%23b3b3b3'/%3E%3C/svg%3E") no-repeat;
}

input[type="checkbox"]:checked:disabled + label,
input[type="checkbox"]:disabled + label {
	color: #b2b2b2;

}

input[type="checkbox"]:checked:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z' fill='%23b2b2b2' /%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z' fill='%23b2b2b2'/%3E%3C/svg%3E") no-repeat;
}

.bluetooth input[type="radio"] {
	display: none; 

}

.bluetooth label::before {
	width: 25px;
	height: 25px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E") no-repeat;
	
}

.bluetooth label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

.bluetooth label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E") no-repeat;	
}

input[type="radio"]:checked + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E") no-repeat;	

}

input[type="radio"]:checked + label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23606060'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

input[type="radio"]:checked + label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E") no-repeat;
}

input[type="radio"]:checked:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23606060'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

input[type="radio"]:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23b3b3b3'/%3E%3C/svg%3E") no-repeat;
}


input[type="radio"]:checked:disabled + label,
input[type="radio"]:disabled + label{
	color: #b2b2b2;

}



.bluetooth .btn {
	background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%, #eeeeee 100%);
}

.catalog-items ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 832px;

}

.cart-item {
	display: flex;
	flex-direction: column;
	margin-left: 73px;
	margin-right: 40px;

}


.cart-item a {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	color: #000000;
}


.cart-item span {
	display: inline-block;
	font: 16px/1.5 'Gilroy', Qanelas, sans-serif;
	color: #000000;

}

.item-img {
	order: 1;

}

.cart-item h3 {
	
	order: 2;
}

.catalog-list-item {
	position: relative;

}

.btn-item {
	position: absolute;
	width: 200px;
	top: 54px;
	left: 80px;
	z-index: 4;
}

.list-number {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 760px;
	background-color: #ebebeb;
	min-height: 70px;
	margin-left: 75px;

}

.list-number a {
	font: 800 16px/1.5 'Gilroy', Qanelas, sans-serif;
	color: #000000;
	letter-spacing: 3.2px;

}

.list-number a:nth-child(3) {
	order: ;

}

.list-number a:nth-child(3) {
	order: 100;

}

















