@font-face { 
  font-family: Gilroy; 
  src: url('gilroyextrabold.woff2') format('woff2'), 
       url('gilroyextrabold.woff') format('woff'); 
  font-weight: 800; 
  font-style: normal; 
}

@font-face { 
  font-family: Gilroy; 
  src: url('gilroylight.woff2') format('woff2'), 
       url('gilroylight.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Open Sans'; 
  src: url('opensanslight.woff2') format('woff2'), 
       url('opensanslight.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal;
}

@font-face { 
  font-family: 'Open Sans'; 
  src: url('opensans.woff2') format('woff2'), 
       url('opensans.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;
 }

body {
	margin: 0;
	padding: 0;
  	font: 300 15px/2 'Open Sans', Arial, sans-serif;
  	letter-spacing: 0.15px;
  	color: #000000;
  	background-color: #ffffff;
}


a {
	text-decoration: none;
}

.user-navigation,
.site-navigation,
.sub-menu,
.sub-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}	


.button {
	width: 55px;
	height: 55px;
	border: none;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
}


.button:hover path {
	fill: #f0c52e;
}


.button:active path {
	fill: #faedc0;
}

.container {
	margin: 40px auto;
	width: 1160px;

}

.header {
	position: relative;
	height: 300px;
	background-color: #f7e296;
	color: #000000;
}


.main-navigation {
	
	padding-top: 44px;
	padding-left: 58px;
}

.header-logo {
	position: absolute;
	top: -19px;
	left: 62px;
}

.header-logo:hover path {
	fill: #666666;
}

.header-logo:active path {
	fill: #b2b2b2;
}

.item-navigation-form {
	position: relative;
	top: -5px;
	border: none;
	
}

.user-navigation input[type="search"],
.user-navigation button[type="submit"] {
	margin: 0;
	padding: 0;
	font: 300 15px/2 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.15px;
	background-color: inherit;
}

.user-navigation input[type="search"] {
	position: relative;
	top: -4px;
	border: none;
	outline: none;
	box-shadow: none;
	padding-left: 2px;
	padding-right: 145px;
	
	
}

.user-navigation button[type="submit"] {
	box-sizing: border-box;
	width: 85px;
	height: 49px;
	border: 2px solid #000000;
	visibility: hidden;
	
} 
.item-navigation a {
	letter-spacing: 0.15px;

}

.item-navigation:nth-child(1) {
	margin-right: 100px;
}

.item-navigation:nth-child(2) {
	margin-right: 218px;
}

.item-navigation:nth-child(3) {
	margin-right: 42px;
}


.item-navigation .icon-user-nav {
	padding-right: 12px;

}

.item-navigation:first-child .icon-user-nav:nth-of-type(1) {
	width: 18px;
	height: 18px;
	padding-left: 6px;
}

.item-navigation .icon-3 {
	padding-right: 11px;


}

.item-navigation .icon-4 {
	padding-right: 9px;

} 


.user-navigation input[type="search"]::-moz-placeholder {
	color: #ac9e69;
}

.user-navigation input[type="search"]::-webkit-input-placeholder { 
	color: #ac9e69; 
}
.user-navigation input[type="search"]:-ms-input-placeholder { 
	color: #ac9e69; 
}
.user-navigation input[type="search"]::-ms-input-placeholder { 
	color: #ac9e69; 
}
.user-navigation input[type="search"]::placeholder { 
	color: #ac9e69; 
} 

.user-navigation input[type="search"]:hover::-moz-placeholder {
	color: #635a3c;
}

.user-navigation input[type="search"]:hover::-webkit-input-placeholder { 
	color: #635a3c; 
}
.user-navigation input[type="search"]:hover:-ms-input-placeholder { 
	color: #635a3c; 
}
.user-navigation input[type="search"]:hover::-ms-input-placeholder { 
	color: #635a3c; 
}
.user-navigation input[type="search"]:hover::placeholder { 
	color: #635a3c; 
}
/*сброс оформление*/
.user-navigation input[type="search"] {
   -webkit-appearance: none;
}

/*очитка крестика*/
.user-navigation input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; 

}	


.user-navigation input[type="search"]:focus {
	border: 0;
	outline: none;
	box-shadow: none;	
}

.user-navigation input[type="search"]:active {
	border: 0;
	outline: none;
	box-shadow: none;	
}



.user-navigation input[type="search"]:focus,
.user-navigation a,
.site-navigation a {
	color: #000000;
}



.user-navigation input[type="search"]:hover,
.user-navigation a:hover path,
.user-navigation a:hover,
.site-navigation a:hover {
	color: #635a3c;
	fill:  #635a3c;
}

.user-navigation input[type="search"],
.user-navigation a:active path,
.user-navigation a:active,
.site-navigation a:active {
	color: #ac9e69;
	fill: #ac9e69;
}



.user-navigation input[type="search"]:focus + button[type="submit"] {
	visibility: visible;
	
}




.user-navigation input[type="search"]:focus + button[type="submit"]::before {
	content: "";
	position: absolute;
	display: block;
	width: 355px;
	height: 2px;
	background-color: #000000;
	top: 96%;
	right: 85px;

}


.user-navigation button[type="submit"]:hover {
	color: #ffffff;
	background-color: #000000;
}



.user-navigation button[type="submit"]:active {
	color: #4d4d4d;
}

.user-navigation,
.site-navigation {
	display: flex;
	flex-direction: row;
}

.user-navigation li,
.site-navigation li {
	margin-right: 20px;

}

.site-navigation {
	margin-top: 15px;
	padding-top: 2px;

}

.menu-navigation>a {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.menu-navigation:first-child a:nth-child(1) {
	padding-left: 3px;
	margin-right: 302px;

}


.plus-link {
	position: relative;
}

.plus-link::after {
	content:"";
	width: 30px;
	height: 30px;
	position: absolute;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23b8a974' d='M16 7H9V0H7v7H0v2h7v7h2V9h7z'/%3E%3C/svg%3E") 12px 5px no-repeat; 
}

.menu-navigation:nth-child(2) a {
	margin-right: 14px;

}

.menu-navigation:nth-child(3) a {
	margin-right: 88px;

}

.sub-menu { 
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 650px;
	height: 125px;
	padding-top: 17px;
	box-sizing: border-box;
	z-index: 10;
	display: none;
}

.sub-menu li {
	width: 200px;

}
.sub-menu a {
	font: 300 15px/2.4 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.15px;
	display: block;
	width: 180px;

	
}

.sub-menu li:nth-child(4),
.sub-menu li:nth-child(5) {
	padding-left: 19px;

}

.sub-menu li:nth-child(5) {
	padding-bottom: 15px;
	

}

.sub-menu li:nth-child(6) {
	margin-left: -20px;
	
}


.site-navigation > li:hover .sub-menu {
	display: flex;

}

.preview-container {
	position: relative;
	top: -111px;
	padding-left: 2px;
	z-index: 5;
}

.preview-container::before {
	content: "01";
	position: absolute;
	font: 800 179.2px/1 'Gilroy', Qanelas, sans-serif;
	color: #ffffff;
	letter-spacing: 1.792px;
	top: -15px;
	right: 43px;
}


.preivew-items {
	margin-left: 90px;
	width: 1069px;
}



.slide-item {
	display: flex;
	flex-direction: row;
}



.preivew-list .preivew-list-item:nth-child(2) {
	display: none;

}

.preivew-list .preivew-list-item:nth-child(3) {
	display: none;

}

.slide-container {
	margin-top: 36px;
	box-sizing: border-box; 
	border-top: 7px solid transparent;
	border-left: 0;
	-moz-border-image: -moz-linear-gradient(to right,  #ffffff 0px, #ffffff 100px, transparent 100px, transparent 100%);
	-webkit-border-image: -webkit-linear-gradient(to right,  #ffffff 0px, #ffffff 100px, transparent 100px, transparent 100%);
	-o-border-image: -webkit-linear-gradient(to right,  #ffffff 0px, #ffffff 100px, transparent 100px, transparent 100%);
	border-image: linear-gradient(to right, #ffffff 0px, #ffffff 100px, transparent 100px, transparent 100%);
	-moz-border-image-slice: 1;
	-webkit-border-image-slice: 1;
	-o-border-image-slice: 1;
	border-image-slice: 1;
}


.slide-item h2 {
	font: 800 47px/1.19 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.47px;
	padding-bottom: 5px;
	margin-bottom: 8px;
	margin-top: 38px;
}

.slide-item img {
	margin-right: 126px;
}




.slide-item p {
	padding-bottom: 6px;
	margin-bottom: 36px;

}

.container-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.btn {
	font: 800 18px/2.22 'Gilroy', Qanelas, sans-serif;
	color: #000000;
	display: block;
	width: 220px;
	height: 40px;
	letter-spacing: 3.6px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
}

.btn:hover {
	background: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);

}

.btn:active {
	color: #a88a20;

}

.container-flex {
	padding-top: 2px;
	padding-right: 11px;
}

.btn-toogle {
	width: 80px;
}

.btn-toggle li {
	width: 12px;
	height: 40px;
	margin-right: 21px;
}

.btn-toggle li:nth-child(2),
.btn-toggle li:nth-child(3) {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 23 23'%3E%3Cpath d='M11.5 2c5.238 0 9.5 4.262 9.5 9.5S16.738 21 11.5 21 2 16.738 2 11.5 6.262 2 11.5 2m0-2C5.149 0 0 5.149 0 11.5 0 17.852 5.149 23 11.5 23 17.852 23 23 17.852 23 11.5 23 5.149 17.852 0 11.5 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	
	
}

.btn-active {
	width: 12px;
	height: 40px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 23 23'%3E%3Cpath d='M11.5 2c5.238 0 9.5 4.262 9.5 9.5S16.738 21 11.5 21 2 16.738 2 11.5 6.262 2 11.5 2m0-2C5.149 0 0 5.149 0 11.5 0 17.852 5.149 23 11.5 23 17.852 23 23 17.852 23 11.5 23 5.149 17.852 0 11.5 0z'/%3E%3Cpath d='M11.5 9.004a2.5 2.5 0 0 1 2.496 2.496 2.5 2.5 0 0 1-2.496 2.496A2.5 2.5 0 0 1 9.004 11.5 2.5 2.5 0 0 1 11.5 9.004m0-2a4.496 4.496 0 1 0 0 8.992 4.496 4.496 0 0 0 0-8.992z'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

.preivew-table,
.preivew-table tr,
.preivew-table td {
	margin: 0;
	padding: 0;

}

.preivew-table {
	margin-left: -2px;
}

.table-item:first-child td {
	font: 36px/1.33 'Gilroy', Qanelas, sans-serif;
	padding-top: 50px;
	padding-right: 77px;
	padding-bottom: 7px;
}

.table-item:first-child td:nth-child(2) {
	padding-right: 74px;

}


.preivew-table td {
	font: 300 13px/1.53 'Open Sans', Arial, sans-serif;
}

.preivew-items ul,
.popular-items ul,
.additional-information ul,
.company ul,
.about-us ul,
.footer-top ul,
.footer-middle ul,
.footer-bottom ul, 
.list-number {
	list-style: none;
	padding: 0;
	margin: 0;

}

.popular-items {
	margin-top: -5px;
	padding-bottom: 114px;
	
}

.popular-items ul {
	display: flex;
	flex-direction: row;
}

.popular-items li {
	min-width: 160px;
	min-height: 160px;
	background-color: #f7e296;
	margin-right: 40px;
}

.popular-items li {
	position: relative;
}

.popular-link {
	display: flex;
	flex-direction: column;

}

.popular-items svg {
	display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.popular-items .popular-monopod {
	top: 99px;
	left: 81px;
}


.popular-link span {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.18px;
	color: #000000;
	position: absolute;
	top: 193px;
}

.popular-items li:hover {
	background-color: #f0c52e;
}

.popular-items li:active path,
.popular-items li:active span {
	fill: #b89a30;
	color: #b2b2b2;
}

input[type="radio"] {
    display: none;
}



.about-us .btn,
.contacts .btn {
	width: 260px;
}

.additional-information {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	min-height: 389px;
	padding-left: 140px;
	padding-right: 140px;
	margin-top: 46px;
	background: linear-gradient(to bottom, #ffffff 0, #ffffff 100px, #e5e5e5 100px, #e5e5e5 288px);
}


.information-list {
	display: flex;
	flex-direction: column;
	min-width: 281px;
	height: 319px;
	box-sizing: border-box;
	border-right: 7px solid black;
	
}

.information-list li:first-child {
	margin-top: 82px;

}

.information-list .btn {
	margin-bottom: 24px;

}

.additional-information .additional-item:nth-of-type(2),
.additional-information .additional-item:nth-of-type(3){
	display: none;

}

.additional-item h3,
.about-us h2,
.contacts h2 {
	font: 800 47px/1.02 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.47px;

}

.additional-information .btn {
	width: 160px;
	margin-left: -3px;
}

.additional-information .btn:active {
	background: linear-gradient(to bottom, #000000 0%, #000000 100%);
	color: #f7e184;
	width: 277px; 
}	

.additional-item {
	box-sizing: border-box;
	padding-top: 29px;
	padding-left: 116px;
	padding-bottom: 29px;
	width: 875px;
}

.additional-information .additional-item:nth-of-type(1) {
	background: url('../img/additional-information/delivery.svg') 673px 86px no-repeat;

}

.additional-information .additional-item:nth-of-type(2) {
	background: url('../img/additional-information/warranty.svg') 673px 86px no-repeat;

}

.additional-information .additional-item:nth-of-type(3) {
	background: url('../img/additional-information/credit.svg') 673px 86px no-repeat;

}


.additional-item h3 {
	margin-bottom: 32px;

}

.additional-item p {
	width: 437px;
	padding-bottom: 29px;

}

.company {
	margin-top: 94px;

}

.company ul {
	display: flex;
	flex-direction: row;
}

.company a {
	position: relative;
	height: 100px;
	width: 260px;
	display: block;
	margin-right: 40px;
}

.company-item:last-child a {
	margin-right: 0;

}

.company img {
	position: absolute;
	left: 0;
	top: 0;
}

.logo-color-company {
	opacity:0;
	
}

.company-link:hover .logo-company {
	opacity: 0;
	
}

.company-link:hover .logo-color-company {

	opacity: 1;
}

.wrapper-about-us {
	display: flex;
	flex-direction: row;
	margin-top: 93px;

}

.about-us {
	min-width: 463px;
	min-height: 561px;
	margin-right: 136px;

}

.about-us,
.contacts {
	box-sizing: border-box;
	padding-top: 8px;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: transparent;
	border-bottom-width: 0;
	-moz-border-image: -moz-linear-gradient(to right,  transparent 0px, transparent 4px, #000000 4px, #000000 83px, #ffffff 83px, #ffffff 100%);
	-webkit-border-image: -webkit-linear-gradient(to right,   transparent 0px, transparent 4px, #000000 4px,  #000000 83px, #ffffff 83px, #ffffff 100%);
	-o-border-image: -o-linear-gradient(to right,  transparent 0px, transparent 7px, #000000 4px, #000000 83px, #ffffff 83px, #ffffff 100%);
	border-image: linear-gradient(to right, transparent 4px, #000000 4px, #000000 83px, #ffffff 83px, #ffffff 100%);
	-moz-border-image-slice: 1;
	-webkit-border-image-slice: 1;
	-o-border-image-slice: 1;
	border-image-slice: 1;
}

.about-us h2,
.contacts h2 {
	margin-bottom: 45px;
	margin-left: -2px;
	
}

.about-us p:nth-of-type(1) {
	margin-bottom: 29px;
}

.about-us p:nth-of-type(2) {
	letter-spacing: -0.2px;
	margin-bottom: 65px;
}



.about-us-list li::before {
	content: "";
	width: 12px;
	height: 12px;
	padding-right: 35px;
	margin-left: 3px;	
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23e6e6e6'/%3E%3C/svg%3E") 0 50% no-repeat;

}

.about-us-list li {
	font: 800 16px/2.5 'Gilroy', Qanelas, sans-serif;
}

.about-us .btn {
	margin-top: 56px;
	margin-left: 2px;
}

.contacts p {
	padding-bottom: 23px;  

}

.contacts a {
	margin-left: 2px;

}

.contacts .btn {

	margin-top: 59px;

}



.visually-hidden {
	display: none;

}

.visually-hidden label {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
}

.visually-hidden input,
.visually-hidden textarea {
	font: 14px/1.33 'Open Sans', Arial, sans-serif;
}


.footer {
	width: 100%;
	margin-top: 80px;
	background-color: #464646;
	padding-top: 26px;
	padding-bottom: 40px;
	box-sizing: border-box;
}

.footer-top {
	box-sizing: border-box;

}


.footer-logo:hover path {
	fill: #b5931c;
}

.footer-logo:active path {
	fill: #7e6d31;
}

.footer .footer-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-top a {
	color: #c8c8c8;
}

.footer-top use {
	fill: #ffc600;
}

.icon-footer:hover use {
	fill: #b3921d;
}

.icon-footer:active use {
	fill: #726435;
}

.footer-top a:hover {
	color: #ffffff;
}

.footer-top a:active {
	color: #7e7e7e;
}

.footer-top-list {
	display: flex;
	flex-direction: row;
	
}


.footer-top-item {
	box-sizing: border-box;
	margin-top: -2px;
	
}

.footer-top-list li:last-child {
	margin-right: -2px;

}

.footer-top-list li:nth-child(2) {
	margin-left: 44px;

}

.footer-top-list li:nth-child(3) {
	margin-left: 42px;

}


.footer-top-item .footer-top-icon {
	padding-right: 9px; 
}

.footer-top-item:first-child .footer-top-icon:nth-of-type(1) {
	padding-right: 12px;

}

.footer-top-item:first-child .footer-top-icon:nth-of-type(2) {
	padding-right: 9px;

}

.footer-middle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.footer-middle-list {
	display: flex;
	flex-direction: row;
}

.footer-middle-list li {
	padding-top: 24px;
	margin-right: 34px;
}


.footer-middle p {
	padding-top: 5px;
	color: #ffffff;
	letter-spacing: normal;

}

.footer-middle a:not(.telefon) {
	color: #ffffff;
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.footer-middle .telefon {
	margin-right: -2px;
	padding-top: 20px;
	color: #ffffff;
	letter-spacing: normal;

}

.footer-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.decor {
	width: 81px;
	height: 7px;
	margin-top: 61px;
	background-color: #ffc600;
}

.group-social {
	padding-top: 47px;
	padding-right: 36px;

}

.footer-bottom-list {
	display: flex;
	flex-direction: row;


}

.footer-bottom-list li {
	margin-right: 19px;
	padding-left: 5px;

}

.footer-middle .middle-item-menu:hover {
	color: #a6a6a6;
}

.footer-middle .middle-item-menu:active {
	color: #777777;

}

.icon-social:hover path {
	fill: #7e7e7e;
}

.icon-social:active path {
	fill: #595959;
}

.logo-html svg {
	margin-right: -2px;
	padding-top: 47px;
}

.logo-html:hover path {
	fill: #b5931c;
}

.logo-html:active path {
	fill: #7e6d31;
}

/*стили для catalog*/

.container .header-page-catalog {
	height: 185px;

}

.item-navigation-page-catalog:nth-child(1) {
	margin-right: 100px;

}


.item-navigation-page-catalog:nth-child(2) {
	margin-right: 20px;

}

.item-navigation-page-catalog:nth-child(3) {
	margin-right: 63px;

}

.item-navigation-page-catalog:nth-child(4) {
	margin-right: 42px;

}



.sub-menu-page-catalog {
	position: absolute;
	left: -1px;
	box-sizing: border-box;
	width: 1160px;
	height: 160px;
	padding-bottom: 30px;
	padding-right: 440px;
	padding-left: 58px;
	background-color: #f8e296;

}

.user-navigation .user-exit,
.user-navigation .user-exit:hover,
.user-navigation .user-exit:active {
	color: #ac9e69;
}

.catalog-item {
	width: 1160px;
	margin: 40px auto 0;

}

.catalog-item h1 {
	font: 800 47px/1.02 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.47px;
	padding-left: 62px;
	margin-top: 11px;
	margin-bottom: 24px;
	
}

.catalog-item ul,
.sort-item,
.list-number,
.list-number ul {
	list-style: none;

}

.breadcrumbs {
	display: flex;
	justify-content: space-between;
	font: 300 14px/1.71 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.14px;
	width: 383px;
	margin-left: 61px;
	padding-left: 0;
	

}

.breadcrumbs li {
	position: relative;


}

.breadcrumbs li:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 10px;
	right: -20px;
	width: 4px;
	height: 7px;
	background: url('../img/svg-device/nav-arrow.svg') no-repeat;

}


.breadcrumbs a {
	color: #b2b2b2;

}

.alignment {
	margin-top: 69px;
	margin-left: 185px;

}

.wrapper-main-page-catalog {
	display: flex;
	flex-direction: row;
	margin-top: 48px;
}

.wrraper-center-page-catalog {
	margin-bottom: 75px;
}

.filter {
	min-width: 468px;
	background-color: #eeeeee;
	
}

.sort {
	display: flex;
	flex-direction: row;
	background-color: #ebebeb;
	padding-left: 72px;
	min-width: 972px;
	box-sizing: border-box;

}

.filter h2,
.sort h2 {
	font: 800 16px/4.37 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 3.6px;
	text-transform: uppercase;	
	
}

.filter h2,
.sort h2,
.sort-item {
	margin-top: 0;
	margin-bottom: 0;
}



.filter h2 {
	background-color: #dbdbdb;
	padding-left: 200px;
	
} 
.filter h2,
.sort {
	min-height: 70px;

}


.sort-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;


}

.sort-1 {
	min-width: 300px;
	margin-right: 215px;

}

.sort-1 li:first-child {
	margin-left: 10px;

}

.sort-item a {
	display: block;
	font: 14px/1.28px 'Open Sans', Arial, sans-serif;
	color: #b2b2b2;
	line-height: 70px;
} 

.sort-item a:hover {
	color: #666666;
}

.sort-item a:active {
	color: #000000;

}


.sort-2 {
	width: 80px;
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 18px;
}

.hide-text {
	font: 0/0 a;
     text-shadow: none;
    color: transparent;
}

.sort-icon path {
	fill: #d3d2d2;

}
.sort-icon:hover path {
	fill: #a7a5a6;

}

.sort-icon:active path {
	fill: #000000;

}

.sort-icon.active path {
	fill: #000000;

}

.filter fieldset {
	border: none;
	

}

.filter legend {
	border: none;
	border-top: 2px solid black;
	width: 200px;
	padding: 0;
	padding-top: 10px;
	box-sizing: border-box;
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.18px;
	
}

fieldset.price {
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	margin-bottom: 31px; 
}

.price legend {
	margin-bottom: 14px;

}


.price label {
	position: relative;

}

.price label::before,
.price label::after {
	
	position: absolute;
	bottom: -30px;
	font: 300 14px/1.71 'Gilroy', Qanelas, sans-serif;
}

.price label::before {
	content: "от 0";
}

.price label::after {
	content: "до 5000";
	left: 90px;
	
	
}

.range {
	position: relative;
	-webkit-appearance: none;
	width: 200px;
	height: 2px;
	background: linear-gradient(to left, #dbdbdb 0px, #dbdbdb 80px, #91c92f 80px, #91c92f 201px);

}

.range2 {
	top: -23px;

}

.range::-webkit-slider-thumb {
	position: absolute;
	-webkit-appearance: none;
	width: 20px;
	height: 23px;
	background: url('../img/svg-device/filter-button.svg') no-repeat;
	top: -9px;
	left: -10px;
	cursor: pointer;
	z-index: 2;
}


.range2::-webkit-slider-thumb {
	top: -9px;
	left: 104px ;

}

.range::-webkit-slider-thumb:hover,
.range2::-webkit-slider-thumb:hover {
	width: 22px;
	height: 25px;
	background: url('../img/svg-device/filter-button.svg') no-repeat;	
	box-shadow: none;
}

.range::-webkit-slider-thumb:active,
.range2::-webkit-slider-thumb:active {
	box-shadow: none;
	outline: none;
}

fieldset.color {
	padding-top: 19px;
	margin-bottom: 24px;

}

fieldset.bluetooth {
	padding-top: 18px;
	padding-bottom: 60px;

}

fieldset.color,
fieldset.bluetooth {
	display: flex;
	flex-direction: column;
}

.color input[type="checkbox"] {
	display: none;
}

.color label,
.bluetooth label {
	font: 300 14px/2.85 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.14px;
	line-height: 40px;
	vertical-align: middle;
}

.color label::before, 
.bluetooth label::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 23px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E") no-repeat;
	vertical-align: middle;
	margin-right: 13px;
}

input[type="checkbox"]:checked + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E") no-repeat;
}


input[type="checkbox"]:checked + label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z' fill='%23606060'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

input[type="checkbox"]:checked + label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E") no-repeat;
}

.color label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z' fill='%23606060'/%3E%3C/svg%3E") no-repeat;

}

.color label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E") no-repeat;
}

input[type="checkbox"]:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z' fill='%23b3b3b3'/%3E%3C/svg%3E") no-repeat;
}

input[type="checkbox"]:checked:disabled + label,
input[type="checkbox"]:disabled + label {
	color: #b2b2b2;

}

input[type="checkbox"]:checked:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z' fill='%23b2b2b2' /%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z' fill='%23b2b2b2'/%3E%3C/svg%3E") no-repeat;
}

.bluetooth input[type="radio"] {
	display: none; 

}

.bluetooth label::before {
	width: 25px;
	height: 25px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E") no-repeat;
	
}

.bluetooth label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

.bluetooth label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E") no-repeat;	
}

input[type="radio"]:checked + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E") no-repeat;	

}

input[type="radio"]:checked + label:hover::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23606060'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

input[type="radio"]:checked + label:active::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E") no-repeat;
}

input[type="radio"]:checked:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23606060'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5' fill='%23606060'/%3E%3C/svg%3E") no-repeat;
}

input[type="radio"]:disabled + label::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z' fill='%23b3b3b3'/%3E%3C/svg%3E") no-repeat;
}


input[type="radio"]:checked:disabled + label,
input[type="radio"]:disabled + label{
	color: #b2b2b2;

}



.bluetooth .btn {
	margin-top: 31px;
	border: none;
	width: 200px;

}



.catalog-items {
	margin-top: 69px;
	margin-left: 72px;
	box-sizing: border-box;
}

.catalog-list .catalog-list-item:nth-child(2n+1) {
	margin-right: 40px;

}

.catalog-list .catalog-list-item:nth-child(3),
.catalog-list .catalog-list-item:nth-child(4) {
	margin-top: 33px;
	margin-bottom: 23px;

}



.catalog-items .catalog-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 832px;

}

.card-item {
	display: flex;
	flex-direction: column;
	
}

.card-item h3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 5px;
	width: 360px;

}

.card-item a {
	display: inline-block;
	font: 800 18px/1.33 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.18px;
	color: #000000;
	width: 254px;
	padding: 0;
	white-space: nowrap;
}


.card-item span {
	display: block;
	font: 16px/1.5 'Gilroy', Qanelas, sans-serif;
	letter-spacing: 0.16px;
	color: #000000;
	padding: 0;
	padding-top: 2px;


}

.item-img {
	order: 1;

}

.card-item h3 {
	
	order: 2;
}

/*.hidden-path-basket {
	position: absolute;
	width: 220px;
	height: 40px;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 50;
}*/

/*.basket-link {
	position: relative;
	width: 360px;
	height: 380px;

}

.hidden-link-basket {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.hidden-link-basket .btn {
	font: 800 18px/2.22 'Gilroy', Qanelas, sans-serif;
	color: #000000;
	display: block;
	width: 200px;
	height: 40px;
	letter-spacing: 3.6px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
}

.hidden-link-basket .add-to-campare {
	display: block;
	width: 143px;
	height: 14px;
	font: 300 13px/2.76 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.13;
	
	
}

.add-to-campare:hover {
	color: red;
	z-index: 100;
}



/*.basket-link {
	position: relative;
	visibility: hidden;
}*/

/*.item-img:hover {
	opacity: 0.5;
	

}

.basket-link:hover  .hidden-link-basket {
	visibility: visible;
	pointer-events: none;
	

}*/




.basket-link {
	position: relative;
	z-index: 30;
	
}



.basket-link .btn {
	position: absolute;
	font: 800 18px/2.22 'Gilroy', Qanelas, sans-serif;
	display: block;
	letter-spacing: 3.6px;
	width: 200px;
	height: 40px;
	z-index: 20;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -61%);
	background: linear-gradient(to bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
	visibility: hidden;	

}

.basket-link .add-to-campare {
	position: absolute;
	display: block;
	width: 143px;
	height: 14px;
	font: 300 13px/2.76 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.13;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 143%);
    visibility: hidden;
	
	
}

.basket-link:hover img {
	opacity: 0.5;

}



.item-img:hover ~ a {
	visibility: visible;
	pointer-events: none;
}

.basket-link .btn:hover {
	background-color: #f0c52e;
}

.basket-link .add-to-campare:hover {
	color: #000000;
}



.list-number {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 760px;
	background-color: #ebebeb;
	height: 70px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	
}

.list-number ul {
	padding: 0;
	margin: 0;

}


.list-number a {
	font: 800 16px/1.5 'Gilroy', Qanelas, sans-serif;
	color: #000000;
	letter-spacing: 3.2px;
	text-transform: uppercase;

}


.list-number ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	width: 95px;
	justify-content: space-between;
	padding-left: 9px;
	box-sizing: border-box;

}
.list-number ul:nth-of-type(2) {
	order: -1; 
	padding-left: 30px;

} 

.list-number ul:nth-of-type(3) {
	padding-right: 28px;

}

.footer-page-catalog {
	margin-top: 0;

}

.footer-top-list-page-catalog li:nth-child(4) {
	margin-left: 42px;

} 

.footer-top-list-page-catalog li:nth-child(2) {
	margin-left: 22px;

} 



















